@model ListShop.Web.Models.ImageModel
    @if (Model.Pin == "true")
    {
        <div id=@Model.Id.ToString()>@Model.CountLike@Ajax.ActionLink(" ", "Likes", new { Id = Model.Id }, new AjaxOptions { UpdateTargetId = Model.Id.ToString(), InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "glyphicon glyphicon-heart", @style = "color:#6f7dde" })</div>
    }
    else
    {
        <div id=@Model.Id.ToString()>@Model.CountLike@Ajax.ActionLink(" ", "Likes", new { Id = Model.Id }, new AjaxOptions { UpdateTargetId = Model.Id.ToString(), InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "glyphicon glyphicon-heart ", @style = "color:#8fa0a6" })</div>
    }




