
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <h1>Привет! Пользователь</h1>
        <p>Приложения предоставляет графический контент. Вы можете так же добавлять свой.</p>
        <p>Для связи с Администрацией используейте E-mail: Hoteng789@mail.ru или Skype: Hoteng987</p>
    </div>

</div>