
@model IEnumerable<ImagePinned.Web.Models.ImageModel>
<div id="RatingImage">
    @foreach (var item in Model)
    {
        <div class=" col-lg-8 col-lg-offset-3">
            <h4 class="pager">Место:@Html.DisplayFor(modelItem => item.Id)</h4>
            <div class="card bg-gradient-primary">
                <h4></h4>
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                <div class="card-img-top">
                    @Html.Raw("<img style='width:600px; height:600px;'   src=\"data:image/jpeg;base64,"
                           + Convert.ToBase64String(item.Resurse) + "\" />")
                </div>
                <div class="card-block bg-gradient-primary">
                    <hr class="my-4">
                    <p>#@Html.DisplayFor(modelItem => item.Pin)</p>
                    <p>Создатель:@Html.DisplayFor(modelItem => item.Own_Name)</p>
                    <p>Likes:@Html.DisplayFor(modelItem => item.CountLike)</p>
                    <br />
                </div>
            </div>
        </div>

    }
</div>