
@{
    ViewBag.Title = "SuccessRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" role="alert">
    <strong>Well done!</strong> Registred is success
</div>

