@model ListShop.Web.Models.UserModel
@if (Model != null)
{
    <li>@Model.Login</li>
    <li>@Html.ActionLink("Выход", "Logout", "Login")</li>
}
else
{
    <li>@Html.ActionLink("Вход", "Index", "Login")</li>
    <li>@Html.ActionLink("Регистрация", "Register", "User")</li>
}
